<!-- ARRAY OF OBJECTS -->

<!DOCTYPE html>
<html>
  <head> 
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- using vue from cdn on vuejs.org websiste  -->

    <!-- we are using composition vue api-->
  </head>
  <body>
    <div id="app">
      <h1> {{message}}</h1>
      Lucky Numbers are:
      <span v-for="(luckyNumber, index) in luckyNumbers" >
        <br/>{{luckyNumber}}
      </span>

      <hr/>

      <p> Projects in Pipeline</p>
      <ul>
        <li v-for="(project,index) in employee.projects">
          <span>
            {{index+1}} - "{{project.project}}" timeline is -
            {{project.timeline}}
          </span>

        </li>
      </ul>
      <p>{{employee.name}} is {{employee.age}} years old.</p>
      <p>His salary is ${{employee.salary}}</p>
      
    </div>

  </body> 
  <script>
    // any vue code will be inside this script tag
    // initialize vue app from the library we imported from cdn
    const { createApp, ref , reactive , onMounted } = Vue; // importing createApp function from Vue library
    createApp({
      setup() { // in compostion api everything is done inside this setup function 
        const message = "Hello  Vue 3!";  
        let luckyNumbers = [3, 5, 7, 11, 15];
        const employee = reactive({
          name: "John",
          age: 30,
          salary: 50000,
          hasCorporateCard: false,
          spendingLimit: 10000,
          yearsWithCompany: 5,
          projects:[
            { project: "Green A", timeline: "2 years" },
            { project: "Blue B", timeline:"9 months" },
            { project: "Pink C", timeline: "3 year" }
            //array of objects
          ]
        });
        
        return {
          luckyNumbers,
          employee,
          message,
           
        } ;

      },
    }).mount("#app"); // mounting the vue app to the div with id app;
  </script>
</html>